.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
    background-color: rgb(252, 253, 186);
    color: rgb(0, 0, 0);
    border: 3px solid grey;
    border-radius: 10px;
    max-height: 600px;
    font-size: 10px;
    text-align: center;
}

.movie-poster {
    width: 180px;
    max-height: 240px;
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 10px black;
}

.movie-description {
    max-height: 100px;
    overflow:scroll;
    margin: 5px;
}

.movie-title {
    margin: 5px;
    height: 60px;
    font-size: 1.80em;
    display: flex;
    align-items: center;
}

.movie-rating {
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(34, 130, 248);
}

#your-rating {
    width: 18px;
    background: rgba(157, 222, 238, 0.7);
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 800;
}

.your-rating, .favorite {
    font-weight: 600;
    font-size: 1.20em;
}

#isFavorite, .favorite{
    vertical-align: middle;
    margin-top: 3px;
}