.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color:lavender;
    box-shadow: 1px 1px 10px grey;
}
.nav-right-options{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.nav-right-options h3 {
    font-weight: 300;
}

.app-name {
    font-weight: 800;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.route-link {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 6px;
}

.route-link:hover {
    color: lavender;
    background-color: black;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
justify-content: space-around;
font-size: .8em;
margin-top: 2px;
border-radius: 3px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile-links {
color: black;
padding: 8px 8px;
text-decoration: none;
}

.profile-links:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.show {display: flex;
    flex-direction: column;
}
 
