.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
    background-color:lavender;
    box-shadow: 1px 1px 10px grey;
    height: 70px;
    box-sizing: border-box;
}

.logo {
    width: 35px;
    vertical-align:text-top;
    padding: 0 3px 0 0;
}
.nav-right-options{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.nav-right-options h3 {
    font-weight: 300;
}

.app-name {
    font-weight: 800;
    font-size: 30px;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    filter: drop-shadow(2px 3px 3px grey);
    box-sizing: border-box;
    height:40px;
}

.app-name:hover,.app-name:focus{
    filter: none;
    margin: 2px 10px 0px 12px;
}

.route-link {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 0;
    box-shadow: 2px 3px 3px grey;
}
.route-link:focus,.route-link:hover{
    margin: 2px 0px 0px 2px;
    box-shadow: none;
    color: lavender;
    background-color: black;
}


.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
justify-content: space-around;
font-size: .76em;
margin-top: 0px;
border-radius: 3px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile-links {
color: black;
padding: 8px 8px;
text-decoration: none;
}

.profile-links:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.show {display: flex;
    flex-direction: column;
}
 
